.blog {
  height: 876px;
  width: 100vw;
  background: rgba(255, 208, 198, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__heading-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 307px;
    font-family: Courgette;
  }
  &__heading {
    font-weight: normal;
    font-size: 36px;
  }
  &__text {
    text-align: center;
    width: 405px;
    height: 37px;
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #353535;
  }
  &__meals {
    height: 539px;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 40px;
    position: relative;
  }
  &__meals-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__meals-details {
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: 20px;
    // min-width: 255px;
    // min-height: 255px;
    // width: 22%;
    // height: 48%;
    background: #ffffff;
    // margin-right: 2.7%;
    // margin-bottom: 5.5%;
  }
  &__meal-title {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
    font-weight: normal;
  }
  &__meal-text {
    font-size: 16px;
    line-height: 19px;
    color: #353535;
  }
  &__meal-price {
    font-size: 24px;
    line-height: 28px;
    color: #ff7d5f;
  }
  &__graphics {
    position: absolute;
    z-index: -999;
    left: -12%;
    top: -22%;
    height: 250px;
    width: 250px;
    &--bottom {
      z-index: -999;
      right: -12%;
      bottom: -22%;
      left: unset;
      top: unset;
    }
  }
}
